@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdf5f3;
  --foreground: #0B1215;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B1215;
    --foreground: #ededed;
  }
}

svg {
  fill: var(--foreground);
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #f97316 rgba(25, 40, 46, 0); /* Couleurs personnalisées pour Firefox */
}

/* Webkit (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Couleur du thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(25, 40, 46, 0); /* Couleur de la piste */
}

.rotate-360 {
  transform: rotate(360deg);
}

.markdown-content pre {
  background-color: #282c34; /* Dark background */
  color: #abb2bf; /* Light text color */
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
}

.markdown-content code {
  font-family: 'Fira Code', monospace;
}

/* Customize highlight colors (this varies by theme) */
.markdown-content .hljs-keyword {
  color: #c678dd;
}

.markdown-content .hljs-string {
  color: #98c379;
}

.markdown-content .hljs-number {
  color: #d19a66;
}

.markdown-content p {
  margin-bottom: 1.5rem;
}

.markdown-content ul, .markdown-content ol {
  margin-bottom: 1rem;
}

.markdown-content li {
  margin-bottom: 0.5rem;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
